html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
@media screen and (min-width: 700px) {
  html,
  body {
    font-size: 22px;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 900;
}
nav {
  text-shadow: 0 0 2px rgba(0,0,0,0.3);
  font-size: 0.9em;
}
.jumbotron {
  min-height: 640px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 95px;
  margin-bottom: 0;
  position: relative;
  background: url("img/jumbotron.jpg") center center no-repeat #222;
  background-size: cover;
  border-radius: 0;
}
.jumbotron .btn-scroll-down-wrapper {
  left: 0;
  right: 0;
  bottom: 15px;
}
.jumbotron .btn-scroll-down-wrapper .btn-scroll-down {
  width: 28px;
  height: 56px;
}
.jumbotron .btn-scroll-down-wrapper .btn-scroll-down .chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -ms-transform: scale3d(0.5, 0.5, 0.5);
  -moz-transform: scale3d(0.5, 0.5, 0.5);
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  -o-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  -ms-animation: move 3s ease-out infinite;
  -moz-animation: move 3s ease-out infinite;
  -webkit-animation: move 3s ease-out infinite;
  -o-animation: move 3s ease-out infinite;
  animation: move 3s ease-out infinite;
}
.jumbotron .btn-scroll-down-wrapper .btn-scroll-down .chevron:first-child {
  -ms-animation: move 3s ease-out 1s infinite;
  -moz-animation: move 3s ease-out 1s infinite;
  -webkit-animation: move 3s ease-out 1s infinite;
  -o-animation: move 3s ease-out 1s infinite;
  animation: move 3s ease-out 1s infinite;
}
.jumbotron .btn-scroll-down-wrapper .btn-scroll-down .chevron:nth-child(2) {
  -ms-animation: move 3s ease-out 2s infinite;
  -moz-animation: move 3s ease-out 2s infinite;
  -webkit-animation: move 3s ease-out 2s infinite;
  -o-animation: move 3s ease-out 2s infinite;
  animation: move 3s ease-out 2s infinite;
}
.jumbotron .btn-scroll-down-wrapper .btn-scroll-down .chevron:before {
  left: 0;
  -ms-transform: skew(0deg, 30deg);
  -moz-transform: skew(0deg, 30deg);
  -webkit-transform: skew(0deg, 30deg);
  -o-transform: skew(0deg, 30deg);
  transform: skew(0deg, 30deg);
}
.jumbotron .btn-scroll-down-wrapper .btn-scroll-down .chevron:after {
  right: 0;
  width: 50%;
  -ms-transform: skew(0deg, -30deg);
  -moz-transform: skew(0deg, -30deg);
  -webkit-transform: skew(0deg, -30deg);
  -o-transform: skew(0deg, -30deg);
  transform: skew(0deg, -30deg);
}
.jumbotron .btn-scroll-down-wrapper .btn-scroll-down .chevron:before,
.jumbotron .btn-scroll-down-wrapper .btn-scroll-down .chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}
@-moz-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -moz-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -o-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -moz-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -o-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@-o-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -moz-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -o-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -ms-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -ms-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -moz-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    -o-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
.section-telegram a.link {
  margin: 8px;
}
.section-telegram a.link:before {
  content: "\f0e6";
}
.section-video ul {
  list-style: none;
  padding-left: 0;
}
.section-video ul li a:before {
  content: "\f03d";
}
.fa-icon:before {
  font-family: "fontawesome";
  margin-right: 8px;
}
.section {
  padding: 80px 20px;
}
.section .inner {
  margin: 0 auto;
  max-width: 1024px;
}
h2 {
  margin-bottom: 50px;
}
.huge {
  font-size: 3em;
  font-weight: 900;
}
.section-photos {
  padding: 0;
}
.section-photos .inner {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 100%;
}
.section-photos .photo {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 33%;
  height: 270px;
  background-color: #000;
  background-position: center center;
  background-size: cover;
  box-shadow: inset 0 0 0 1px rgba(255,255,255,0.2);
}
.section-photos .photo .mask {
  content: " ";
  width: 100%;
  height: 100%;
  display: block;
  background: #000;
  opacity: 0.5;
}
.section-photos .photo:hover .mask {
  opacity: 0;
}
.section-news {
  overflow-y: hidden;
}
.section-news .post {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.section-news .post .post-title {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.section-news .post .post-content {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -8px;
}
.section-news .post .post-content a {
  -webkit-flex: 0 1 auto;
  flex: 0 1 auto;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 8px;
  background: #9be;
  color: #fff;
}
.section-news .post .post-content a:before {
  content: "\f0c1";
}
.section-news .post .post-time {
  -webkit-flex: 1 1 100%;
  flex: 1 1 100%;
}
.section-news .post .post-time:before {
  content: "\f017";
}
.section-news .lineSeparator {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.section-news a {
  color: #9be;
}
.section-background {
  background-color: #d3d3d3;
}
.section-features {
  padding-top: 90px;
}
.section-features .icon {
  font-size: 90px;
  margin-bottom: 40px;
}
.section-features p {
  font-size: 0.9em;
  color: #555;
}
.section-footer a {
  color: #9be;
}
.media-preview {
  border: 1px solid #ddd;
  border-radius: 3px;
  background: #444;
  width: 100%;
  height: 250px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.sep.gap-sm {
  margin: 15px 0;
}
.sep.gap {
  margin: 30px 0;
}
.sep.gap-lg {
  margin: 60px 0;
}
.sep.light {
  border-bottom: 1px solid rgba(255,255,255,0.5);
}
.sep.dark {
  border-bottom: 1px solid rgba(0,0,0,0.5);
}
.sep.light-dark {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.bg-telegram {
  background-color: #08c;
}
.bg-telegram a {
  color: #fff;
}
