//- module
.section.section-why.bg-info.text-light
  .container
    .row
      .col-md-6.order-0.order-md-0
        h2.text-center
          | 民間人権陣線 #[br] 6.16 集会
      .col-md-6.order-2.order-md-0
        h2.text-center.mt-5.mt-md-0
          | 逮捕された場合の法律サポート
      .col-md-6.order-1.order-md-2
        img.w-100(src="/img/616.png")
      .col-md-6.order-4
        img.w-100(src="/img/legal_support.jpg")
