.section.section-why.bg-info.text-light: .inner
  .row
    .col
      .text-center
        h2 民間人権陣線 #[br] 6.16 集会
        img(src="/img/616.png", style="max-width:80%")
    .col
      .text-center
        h2 逮捕された場合の法律サポート #[br] #[br]
        img(src="/img/legal_support.jpg", style="max-width:80%")
