.section.section-why.bg-info.text-light: .inner
  .row
    .col
      .text-center
        h2 民間人權陣線 #[br] 6.16 遊行
        img(src="/img/616.png", style="max-width:80%")
    .col
      .text-center
        h2 被捕後法律支援 #[br] #[br]
        img(src="/img/legal_support.jpg", style="max-width:80%")
