.section.section-why.bg-info.text-light: .inner
  .row
    .col
      .text-center
        h2 Civil Human Right Front #[br] 6.12 Second Reading Assembly
        img(src="/img/wed.jpg", style="max-width:80%")
    .col
      .text-center
        h2 Legal Support after Arrest #[br] #[br]
        img(src="/img/legal_support.jpg", style="max-width:80%")
