//- module
#background.section.section-background: .inner
  .card
    .card-body
      h2.text-center 배경
      p.text-justify
        | 2018년 홍콩 남성(Chan Tong-kai)이 대만에서 여자친구를 살해한 혐의를 받고 홍콩으로 다시 도주했습니다. 홍콩과 대만 사이에는 범죄인 인도 조약이 없기 때문에, 홍콩 정부는 용의자가 재판을 받기 위해 대만으로 인도하는 것을 목적으로 ‘범죄인 인도법’ 개정을 제안했습니다. 하지만 개정안은 대만으로 송환을 가능케 하지 않고, 홍콩에 있는 영주권자, 방문객을 포함한 누구나 중국으로 송환될 수 있도록 할 것입니다.
      p.text-justify
        | 중국에는 공정한 재판도 법치주의도 없습니다. 더 큰 위험은 중국 정부가 홍콩 시민이나 홍콩에 있는 사람들을 대상으로 언제든 범죄로 고발할 수 있습니다. 영국, 미국, 그리고 다른 유럽 정부들은 이미 이번 이슈로 홍콩의 법치주의가 훼손되는 것에 항의하며 성명서나 외교 문서를 발표했습니다.
