//- module
.section.section-why.bg-warning.text-light: .inner
  .text-center: h2 経緯
  p 2018年には香港人が交際相手殺害の容疑をかけられたため、香港へ逃亡したことがありました。当時は香港と台湾の間に容疑者の引き渡しについての条約が無かったため、香港政府が引き渡しについての改正案を提案することになりました。この改正案では台湾に容疑者が引き渡されることは含まれていません。しかし、住民、旅行者を含め香港にいる人全てが中国に引き渡される可能性があります。
  p PRCに引き渡されてしまえば、不公平に裁かれることになってしまいます。さらに危険なことに、中国政府が香港人や香港の旅行者全員がいつでもどんな罪であっても中国で裁かれることになることです。イギリスやアメリカ、他のヨーロッパの国々では今回の件について、香港の法の支配を侵害するものとして反対する声明をすでに出しています。
