//- module
.section.section-why.bg-warning.text-light: .inner
  .text-center: h2 Background
  p In 2018, a Hong Kong man fled back to Hong Kong after being suspected to have murdered his girlfriend in Taiwan. Since there is no extradition treaty between Hong Kong and Taiwan, the Hong Kong government proposed an amendment to the Fugitive Offenders Ordinance, for the alleged purpose of extraditing the suspect to Taiwan to stand trial.
  p However, the amendment would not enable extradition to Taiwan but would instead subject anyone in Hong Kong, including permanent residents and visitors, to possible extradition to China.

