//- module
.section.section-why.bg-light: .inner
  .text-center: h2 経緯
  p 2018年、台湾で交際相手殺害の容疑をかけられた香港人の容疑者が香港へ逃亡しました。当時は香港と台湾の間に容疑者の引き渡しについての明確な条約が無かったため、今回、香港政府が引き渡しについての改正案を提案することになりました。この改正案では台湾に容疑者が引き渡されることは含まれていません。しかし、住民、旅行者を含め香港にいる人全てが中国に引き渡される可能性があります。
  p 中国の警察であるPRCに引き渡されてしまえば、不公平な裁判にかけられることことは避けられません。。中国政府は香港にいる人であれば誰でもいつでもどんな罪であっても中国で裁くことが可能になります。イギリスやアメリカ、他のヨーロッパの国々では今回の件について、香港の法の支配を侵害するものとして反対する声明をすでに公表しています。
