//- module
.section.section-contribute.bg-warning.text-light: .inner
  .text-center
    h2 Co-edit
    p The goals of this information archive are to provide the latest news about the new extradition amendment, and to record the history of this movement. Embracing open source spirit, everyone are welcomed to join and work together.
    .btn.btn-primary.btn-lg #[a(href="https://github.com/g0vhk-io/hongkong-extradition/",target="_blank", style="color:white") Source Code #[i.fa.fa-github]]
    |                         
    .btn.btn-primary.btn-lg #[a(href="http://beta.hackfoldr.org/extradition",target="_blank", style="color:white") Hackfoldr]


