//- module
.section.section-contribute.bg-warning.text-light: .inner
  .text-center
    h2 共同編集
    p このポータル情報サイトの設立目的は、市民にこの「犯罪人引渡し条例」に関する最新の情報を提供するほか、今回のデモ運動を歴史の1ページに残るためである。オープンソースの精神を持ちながら、ぜひ皆さんと共に取り組みたいと思います。
    .btn.btn-primary.btn-lg #[a(href="https://github.com/g0vhk-io/hongkong-extradition/",target="_blank", style="color:white") ソースコード #[i.fa.fa-github]]
    |                         
    .btn.btn-primary.btn-lg #[a(href="http://beta.hackfoldr.org/extradition",target="_blank", style="color:white") Hackfoldr]


