//- module
.section.section-footer.text-light: .inner
  .row
    .col-12.col-md-8
      .row
        .col-6.col-md-4
          label This Project
          .item: a(href="https://www.collaction.hk/s/extradition/",target="_blank") Repository
          .item: a(href="https://github.com/g0vhk-io/hongkong-extradition",target="_blank") Source Code
          .item: a(href="https://www.facebook.com/g0vhk.io/",target="_blank") Community Page
          .item: a(href="https://www.facebook.com/groups/g0vhk/",target="_blank") Contact Us<
        .col-6.col-md-4
          label Notice
            .item: a(href="https://g0v.hackpad.tw/g0vhk-yZjxYOS60kk",target="_blank") Privacy Policy
            .item: a(href="https://creativecommons.org/licenses/by/4.0/",target="_blank") CC BY 4.0
    .col-12.col-md-4.text-center
      a(href="https://www.facebook.com/g0vhk.io",target="_blank")
        img(src="img/logo2.png",style="width:256px",alt="Powered by g0v")

