//- module
.jumbotron.text-light
  .text-center
    h2.mb-2 Once It Passes
    h2.mb-2 Hong Kong Dies
    h3.mb-2 #[a(href="/") 中文] #[a(href="/index-en.html") English] #[a(href="/index-jp.html") 日本語]
    #fb-root
    script(async,defer, crossorigin="anonymous", src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3")
    .fb-like(data-href="https://www.facebook.com/g0vhk.io",data-width="",data-layout="button_count",data-action="like" data-size="large",data-show-faces="true",data-share="false")
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
    p Once the "Fugitive Offenders Ordinance Amendment" is passed, Hongkongers and #[b#[uANYONE who stays in Hong Kong]] would be accused of the laws of China, even they are physically in Hong Kong. They would be persecuted and sent to China for unjustice hearing.

