//- module
.jumbotron.text-light
  .text-center
    h2.mb-2 この法律が審議を通過したら
      span(hidden) translated from En
    h2.mb-2 香港は終わりです
    .mb-4
      #[a.btn.btn-info.py-1(href="/") 中文] #[a.btn.btn-info.py-1(href="/index-en.html") English] #[a.btn.btn-info.py-1(href="/index-jp.html") 日本語]
    #fb-root
    script(async,defer, crossorigin="anonymous", src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3")
    .fb-like(data-href="https://www.facebook.com/g0vhk.io",data-width="",data-layout="button_count",data-action="like" data-size="large",data-show-faces="true",data-share="false")
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
      p 一度この「犯罪人引渡し条約」が審議を通過したら、香港人、そして#[b#[u香港に滞在している誰もが]]中国の法律によって取り締まられてしまいます。あなたが中国ではなく香港にいたとしても、です。あなたは人権を侵害され、不当に中国へ送られてしまうかもしれません。

