//- module
.section.section-video.bg-warning: .inner
  .text-center
    h3 逃亡犯条例の改正案の完全撤廃（日本語版）
    a(href="https://www.youtube.com/watch?v=KH4FjILxiUM", target="_blank") #[img(src="img/video/i18n/jp.jpg", style="max-width:50%")]

