//- module
.section.section-video.bg-warning: .inner
  .text-center
    h3 첫째,송환법 완전철폐
    a(href="https://www.youtube.com/watch?v=LmE9q34ClOE", target="_blank") #[img(src="img/video/i18n/kr.jpg", style="max-width:50%")]

