//- module
.section.section-why.bg-warning
  .text-center: h2 多國語示影片
  br
  .row
    .col
      h5 中文
      a(href="https://www.youtube.com/watch?v=Iwxt5qH2Vto", target="_blank") #[img(src="img/video/i18n/ch.jpg", style="max-width:100%")]
    .col
      h5 英文
      a(href="https://www.youtube.com/watch?v=RXAHywPLaD8", target="_blank") #[img(src="img/video/i18n/en.jpg", style="max-width:100%")]
    .col
      h5 日文
      a(href="https://www.youtube.com/watch?v=KH4FjILxiUM", target="_blank") #[img(src="img/video/i18n/jp.jpg", style="max-width:100%")]
    .col
      h5 國語
      a(href="https://www.youtube.com/watch?v=XMRs0RQpBIo", target="_blank") #[img(src="img/video/i18n/tw.jpg", style="max-width:100%")]
  .row
    .col
      h5 法文
      a(href="https://www.youtube.com/watch?v=606l0zgq2xk", target="_blank") #[img(src="img/video/i18n/fr.jpg", style="max-width:100%")]
    .col
      h5 德文
      a(href="https://www.youtube.com/watch?v=VC8Btg8xwI4", target="_blank") #[img(src="img/video/i18n/ger.jpg", style="max-width:100%")]
    .col
      h5 意文
      a(href="https://www.youtube.com/watch?v=movMqfIioL4", target="_blank") #[img(src="img/video/i18n/it.jpg", style="max-width:100%")]
    .col
  .row
    .col: .text-center
      br
      br
      h3 #[a(href="https://www.youtube.com/channel/UCKnyEeutNfjo7khaI78jdew/videos", target="_blank")更多 ]
