//- module
.section.section-why.bg-warning
  .text-center: h2 Translated Videos
  br
  .row
    .col
      h5 Cantonese
      a(href="https://www.youtube.com/watch?v=Iwxt5qH2Vto", target="_blank") #[img(src="img/video/i18n/ch.jpg", style="max-width:100%")]
    .col
      h5 English
      a(href="https://www.youtube.com/watch?v=RXAHywPLaD8", target="_blank") #[img(src="img/video/i18n/en.jpg", style="max-width:100%")]
    .col
      h5 Japanese
      a(href="https://www.youtube.com/watch?v=KH4FjILxiUM", target="_blank") #[img(src="img/video/i18n/jp.jpg", style="max-width:100%")]
    .col
      h5 Taiwanese Mandarin
      a(href="https://www.youtube.com/watch?v=XMRs0RQpBIo", target="_blank") #[img(src="img/video/i18n/tw.jpg", style="max-width:100%")]
  .row
    .col
      h5 French
      a(href="https://www.youtube.com/watch?v=606l0zgq2xk", target="_blank") #[img(src="img/video/i18n/fr.jpg", style="max-width:100%")]
    .col
      h5 German
      a(href="https://www.youtube.com/watch?v=VC8Btg8xwI4", target="_blank") #[img(src="img/video/i18n/ger.jpg", style="max-width:100%")]
    .col
      h5 Italian
      a(href="https://www.youtube.com/watch?v=movMqfIioL4", target="_blank") #[img(src="img/video/i18n/it.jpg", style="max-width:100%")]
    .col
  .row
    .col: .text-center
      br
      br
      h3 #[a(href="https://www.youtube.com/channel/UCKnyEeutNfjo7khaI78jdew/videos", target="_blank") More]
