//- module
//- #[a(href="/full_timeline.html",target="blank") (按此打開完整時間表 )]
.section.section-news.bg-dark.text-light#news
  .container
    h1.text-center.mb-0
      | Latest News
    p.lead.text-center.mb-5
      a(href='https://www.collaction.hk/s/extradition/objective', target='blank')
        small Powered by Collaction

    #articles.pt-3

    .text-center
      button#load-more.btn.btn-sm.btn-light
        | Load More
