//- module
.section.section-why.bg-telegram.text-light: .inner
  .text-center
    h2 Telegram #[img(src="/img/telegram.png", width="128")]
  ul
    li #[a(href="https://t.me/CivilHumanRightsFront") Civil Human Right Front information channel ]
    #[a.btn.btn-warning.link.fa-icon(href="https://t.me/joinchat/AAAAAFKLi0fTZiWg0bGwjA") [Anti FOO]Fact Check Channel ]
    li #[a(href="https://t.me/hkSupport_bot") hkSupport]
    li #[a(href="https://t.me/g0vhk")  g0vhk]
