//- module
.section.section-why.bg-telegram.text-light: .inner
  .text-center
    h2 Telegram #[img(src="/img/telegram.png", width="128")]
  ul
    li #[a(href="https://t.me/CivilHumanRightsFront") 民間人權陣線資訊頻道 ]
    li #[a(href="https://t.me/hkSupport_bot") hkSupport]
    li #[a(href="https://t.me/g0vhk")  g0vhk]
