//- module
.section.section-telegram.bg-telegram.text-light: .inner
  .text-center
    h2 Telegram #[img(src="/img/telegram.png", width="128")]
  .text-center
    #[a.btn.btn-warning.link.fa-icon(href="https://t.me/CivilHumanRightsFront") 民間人権陣線情報チャンネル ]
    #[a.btn.btn-warning.link.fa-icon(href="https://t.me/joinchat/AAAAAFKLi0fTZiWg0bGwjA") [反送中]Fact Check Channel ]
    #[a.btn.btn-warning.link.fa-icon(href="https://t.me/hkSupport_bot") hkSupport]
    #[a.btn.btn-warning.link.fa-icon(href="https://t.me/g0vhk")  g0vhk]
