//- module
.section.section-telegram.bg-telegram.text-light: .inner
  .text-center
    h2 Telegram #[img(src="/img/telegram.png", width="128")]
  .text-center
    #[a.btn.btn-warning.link.fa-icon(href="https://t.me/CivilHumanRightsFront") 民間人權陣線資訊頻道 ]
    #[a.btn.btn-warning.link.fa-icon(href="https://t.me/hkSupport_bot") hkSupport]
    #[a.btn.btn-warning.link.fa-icon(href="https://t.me/g0vhk")  g0vhk]
