//- module
.section.section-video.bg-warning: .inner
  .text-center: h2 影片
  br
  .row.mb-5.pb-4
    .col-md.col-12.mb-md-0.mb-3: .media-preview(style="background:url(img/video/thumbnail1.png) center center no-repeat #444;background-size:cover")
    .col-md.col-12
      h4 八十後浪
      .sep.light-dark.gap-sm
      ul
        li #[a.fa-icon(href="https://www.facebook.com/watch/?v=630724980778241", target="_blank") 【香港人・六月九．行出嚟！】]
        li #[a.fa-icon(href="https://www.facebook.com/watch/?v=365026624364523", target="_blank") 【香港人．六月九．行出嚟－法律篇（一）】]
        li #[a.fa-icon(href="https://www.facebook.com/watch/?v=2111174248981335", target="_blank") 【香港人．六月九．行出嚟－法律篇（二）】]
        li #[a.fa-icon(href="https://www.facebook.com/watch/?v=612761825868585", target="_blank") 【香港人・六月九・行出嚟－商界篇】]
   .row.mb-5.pb-4
    .col-md.col-12.mb-md-0.mb-3
      h4 思言財雋
      .sep.light-dark.gap-sm
      ul
        li #[a.fa-icon(href="https://www.facebook.com/watch/?v=450338242396589", target="_blank") 【思言財雋呼籲你參加反「送中」大遊行】]
    .col-md.col-12: .media-preview(style="background:url(img/video/thumbnail4.png) center center no-repeat #444;background-size:cover")
   .row
    .col-md.col-12.mb-md-0.mb-3: .media-preview(style="background:url(img/video/thumbnail6.png) center center no-repeat #444;background-size:cover")
    .col-md.col-12
      h4 法政匯思
      .sep.light-dark.gap-sm
      ul
        li #[a.fa-icon(href="https://www.facebook.com/hkplg/videos/2511920872171931/", target="_blank") To international community in Hong Kong and around the world, we need you urgently!]
        li #[a.fa-icon(href="https://www.facebook.com/watch/?v=902872436725462", target="_blank") 【China’s Trojan horse: Hong Kong’s new extradition arrangement puts foreigners at risk】]
