//- module
.section.section-why.bg-light: .inner
    .text-center
      h2 Why should you oppose the “Fugitive Offenders Ordinance Amendment” (FOO Amendment)
    p Once the amendment is adopted, #[b anyone] could be accused to have violated Chinese laws in Hong Kong and extradited to China. #[b Hong Konger and those staying in Hong Kong] would then face unfair trials.
    ul
      li FOO Amend will affect everyone in Hong Kong, #[b including the businesses, journalists, and foreign visitors. ]
        ul
          li Once FOO Amendment is adopted, any foreigners visiting Hong Kong will be subjected to the new law and can be extradited to China Mainland. Moreover, when journalists report on politically sensitive news stories in China Mainland, even if they were not taken away by PRC police, they could be extradited to China after they made it back to Hong Kong.
      li China often uses #[b non-political charges against political dissidents. ]
        ul
          li Causeway Bay Books owner Gui Minhai was accused of hit and run in a traffic incident and was arrested.
          li Ai Weiwei, an artist active in rights advocacy, was accused of tax evasion before his exile and was detained.
      li Anti-establishment Councilors in Hong Kong’s Legislative Council reject extraditions, given the #[b  lack of fair trials in China. ]
      li The amendment is not a solution to the case of Chan Tong-kai
        ul
          li Taiwan has #[b no obligation] to extradite murder suspects to China Mainland.
          li It is absolutely possible for Hong Kong to enter into a one-time or long term extradition arrangement with Taiwan. Taiwan’s Mainland Affairs Council has stated that the amendment opens the possibility of Taiwan citizens traveling to, or staying in, Hong Kong to be extradited to China.
          li Before that threat is eliminated, Taiwan would not request the extradition of Chan Tong-kai. In other words, even if the amendment is adopted, it would not be possible for the Hong Kong government to extradite Chan to Taiwan.

      