//- module
.section.section-why.bg-light: .inner
    .text-center
      h2 中国への引き渡し条例に反対するべき理由
    p 中国への引き渡し条例改正案が可決されれば、香港で中国の法律を犯した場合に中国へ送還される可能性があります。つまり、香港在住者および香港に滞在する人々が不公平な裁判にかけられることになります。
    ul
      li 今回の改正案では、#[b 企業やジャーナリスト、観光客を含めた香港に滞在する全ての人 ]が対象となります。
        ul
          li 改正案が可決されれば、香港に滞在している全ての人たちが中国本土に送還される可能性があります。例えば、中国国家にとって不都合な報道をするジャーナリストが中国国内でPRC警察に捕まらずとも、香港に帰った際に逮捕され、中国本土へと送還される可能性があります。
      li 中国政府は政治犯に対して、政治的な#[b政治的な活動以外の容疑]で拘束する場合がほとんどです。
        ul
          li 政治的書籍を扱うCauseway Bay BookのオーナーであるGui Minhai氏は交通事故の罪で起訴され、逮捕されました。
          li 中国の現代美術家であり、社会評論家であるAi Weiwei氏は亡命を前にして、脱税の容疑で拘留されました。
      li 香港の立法新議会の反体派の議員は、公平な裁判が行われないことを理由として、送還について反対しています。
      li 改正案が可決されたからといって、Chan Tong-kaiのような事例が無くなるわけではありません。
        ul
          li 台湾には殺人事件の容疑者を中国本土に引き渡す#[b 義務]はありません。
          li 香港から台湾に一時的または長期的に容疑者の引き渡しを要求することは原則的には可能です。行政院大陸委員会は今回の改正案が可決されれば、台湾人が香港への旅行/滞在時に中国へ引き渡される可能性があるとしています。今回の改正案が否決されるまでは台湾政府はChan Tong-kaiの引き渡しを要求しません。しかし、今回の改正案が可決されれば香港政府がChan氏を台湾に引き渡すことは不可能になってしまいます。
          //- li 在台灣，陸委會表明不會在《逃犯條例》修法前提下與港府協商，未排除赴港或在港台灣人被移送到大陸的威脅之前，即使香港通過修例，台灣政府亦不會同意移交陳同佳。
