//- module
.section.section-why.bg-light: .inner
    .text-center
      h2 범죄인 인도법 개정에 여러분이 반대해야 하는 이유
    p ‘범죄인 인도법 개정안(개정안)’이 적용되면 홍콩에 있는 동안 해당 법을 위반하는 누구나 중국으로 인도될 수 있습니다. 홍콩 시민과 홍콩에 거주하는 이는 누구나 불공정한 재판을 받게 될 수 있습니다.
    ul
      li 개정안은 사업가, 기자, 해외 방문객을 포함한 홍콩에 있는 모든 사람에게 영향을 끼치게 됩니다.
        ul
          li 개정안이 채택되면 홍콩을 방문하는 모든 외국인들은 새로운 법을 적용받게 되며 중국 본토로 인도될 수 있습니다. 게다가 기자들이 중국 본토에서 정치적으로 민감한 뉴스를 취재하고 중국 경찰에 연행되지 않았다고 하더라도 홍콩으로 돌아간 뒤 다시 중국으로 송환될 수 있습니다.
      li 중국은 반체제 인사들을 대상으로 비정치적 혐의를 씌웁니다.
        ul
          li 정치 서적을 주로 다루는 Causeway Bay Books의 출판사장 Gui Minhai 씨는 뺑소니 사고 혐의를 받고 체포되었습니다.
          li 중국의 현대미술가이자 사회평론가 Ai Weiwei 씨는 망명 전 탈세 혐의로 기소돼 구금됐습니다.
      li 홍콩 입법회의 반체제 의원들은 중국에서 공정한 재판이 이뤄지지 않은 점을 고려해 송환을 거부합니다.
      li 개정안이 가결되어도 Chan Tong-Kai* 같은 사례가 사라지는 것은 아닙니다.
        ul
          li 대만은 살해 용의자들을 중국 본토에 인도할 의무가 없습니다.
          li 홍콩이 대만과 일회성 혹은 장기 인도 협정을 맺는 것도 당연히 가능합니다. 대만의 행정원 대륙위원회는 개정안이 대만 시민들이 홍콩을 여행하거나 머물면서 중국으로 인도될 가능성을 열어주고 있다고 밝혔습니다. 이러한 위협이 제거되기 전에(이번 개정안이 부결되기 전까지) 대만은 Chan Tong-kai 송환 요구에 응하지 않을 것입니다. 즉, 개정안이 채택되더라도 홍콩 정부가 Chan Tong-kai를 대만으로 송환해 재판을 받기는 어려울 것입니다.
